*.so
*.csv
*.out
build
build_*
build-*
dist
*egg*
*.h5
__pycache__
*.swp
experiments
src/obj
*.sif
*.swp
*.npy
*.log
*.swo
_bak
__bak
*.ipynb_checkpoints*
_dist
*.png
Untitled.ipynb
*.pyc
trace_*.txt
*.tex
*.aux
*.md
!standards/*.md
dev
.venv
.deps/
.DS_Store
env.sh
pawsey_env.sh
.vscode
.pytest_cache
build_wavefront_ubuntu.sh
hipfft-*
_skbuild
